@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
}

a{
   font-family: 'Poppins', sans-serif;
}

img{
   -webkit-user-drag: none;
   user-select: none;
}

nav {
   position: absolute;
   z-index: 1;
   top: 0;
   width: 80%;
   display: flex;
   align-items: center;
   margin-top: 40px;
   left: 50%;
   transform: translate(-50%, 0%);
}

.nav-logo {
   width: 264px;
   margin-right: auto;
}

nav a {
   margin-left: 30px;
   color: white;
   font-size: 16px;
   cursor: pointer;
}

.nav-button {
   height: 40px;
   width: 120px;
   border-radius: 10px;
   background-color: #11950F;
   color: white;
   border: none;
   margin-left: 30px;
}

.nav-button a {
   display: block;
   width: 100%;
   line-height: 40px;
   margin: 0px;
}

header{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: white;
   margin-bottom: 100px;
}

.header-img{
   width: 100%;
   height: 800px;
}

.header-title{
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 90px;
   font-weight: bold;
}

.header-text1{
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: normal;
}

.header-text2{
   position: absolute;
   top: 58%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: normal;
}

.header-arrow{
   position: absolute;
   z-index: 1;
   top: 85%;
}

main{
   width: 80%;
   border: 1px solid lightcoral;
   margin: 0px auto;
}

.about-section{
   display: flex;
   flex-direction: column;
   border: 1px solid lightblue;
}

.about-section-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 100px;
}

.about-section-text{
   width: 35%;
}

.about-section-text a {
   font-size: 13px;
}

.about-section-title{
   font-weight: bold;
   color: #088A06;
   font-size: 40px;
   margin-bottom: 24px;
}

.about-section p{
   color: #444444;
}

.about-section-buttons{
   display: flex;
   margin-top: 30px;
}

.link-button-green {
   height: 40px;
   width: 120px;
   border-radius: 6px;
   background-color: #088A06;
   color: white;
   border: none;
   cursor: pointer;
}

.link-button-white {
   height: 40px;
   width: 120px;
   border-radius: 6px;
   background-color: transparent;
   border: 1px solid #088A06;
   color: #088A06;
   margin-left: 30px;
   cursor: pointer;
}

.about-section-buttons a {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}

.about-section-buttons i {
   display: flex;
   align-items: center;
}


footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   color: white;
   background-color: #088A06;
   padding: 30px 10%;
}

footer h3{
   margin-bottom: 18px;
}

.footer-address{

}

.footer-pages{
   display: flex;
   flex-direction: column;
}

.footer-pages a{
   cursor: pointer;
}


.footer-webcredits{

}

.footer-links{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.footer-facebook-button{
   background-color: white;
   border: none;
   padding: 8px 60px;
   color: #4267B2;
   border-radius: 6px;
   cursor: pointer;
}

.footer-instagram-button{
   background-color: white;
   border: none;
   padding: 8px 60px;
   color: #B41B84;
   border-radius: 6px;
   cursor: pointer;
}

 .fa-instagram {
   background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

