@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
   scroll-padding: 200px;
}

body{
   height: 100vh;
   font-family: 'Poppins', sans-serif;
}

a{
   font-family: 'Poppins', sans-serif;
}

img{
   -webkit-user-drag: none;
   user-select: none;
}

nav {
   position: fixed;
   z-index: 3;
   top: 0;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 26px 60px;
   left: 50%;
   transform: translate(-50%, 0%);
   transition: background-color 0.2s ease;
}

.nav-logo {
   width: 264px;
   margin-right: auto;
   cursor: pointer;
}

nav a{
   margin-left: 30px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   text-decoration: none;
}


.nav-button {
   height: 40px;
   width: 120px;
   border-radius: 8px;
   background-color: #11950F;
   color: white;
   border: none;
   margin-left: 30px;
}

.nav-button a {
   display: block;
   width: 100%;
   line-height: 40px;
   margin: 0px;
}

.nav-hamburger{
   cursor: pointer;
   display: none;
}

.nav-hamburger div{
   height: 3px;
   width: 30px;
   background: #fefefe;
   margin: 5px;
   transition: all 0.3s ease;
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
   transition: all 0.7s ease;
   width: 0px;
}

.toggle .line3 {
   transform: rotate(45deg) translate(-5px, -6px);
}

.nav-toggle{
   position: fixed;
   top: 0;
   left: 0; 
   background: #131418;
   height: 100vh;
   width: 100%;
   flex-direction: column;
   transition: all 1s ease;
   display: none;
}

.nav-toggle a{
   display: block;
}





header{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: white;
   margin-bottom: 100px;
}

.header-img{
   width: 100%;
   height: 100vh;
   filter: brightness(60%);
   object-fit: cover;
}

.header-text-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.header-title{
   font-size: 90px;
   font-weight: bold;
}

.header-text{
   display: flex;
   flex-direction: column;
   width: 80%;
   gap: 4px;
}

.header-text h4{
   font-weight: normal;
}


.header-arrow{
   position: absolute;
   z-index: 1;
   top: 85%;
}

main{
   width: 80%;
   margin: 0px auto;
}

.about-section{
   display: flex;
   flex-direction: column;
   margin-bottom: 100px;
}

.about-section-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 100px;
}

.about-section-text{
   width: 35%;
}

.about-section-text a {
   font-size: 13px;
}

.about-section-title{
   font-weight: bold;
   color: #088A06;
   font-size: 40px;
   margin-bottom: 24px;
}

.about-section p{
   color: #444444;
}

.about-section-buttons{
   display: flex;
   margin-top: 30px;
}


.button {
   height: 40px;
   width: 120px;
   border-radius: 8px;
   background-color: transparent;
   border: 1px solid #088A06;
   color: #088A06;
   margin-left: 30px;
   cursor: pointer;
}

.button-green {
   height: 40px;
   width: 120px;
   border-radius: 8px;
   background-color: #088A06;
   color: white;
   margin-left: 0px;
   cursor: pointer;
}

.button-green a{
   color: white;
}


.button a {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   width: 100%;
   line-height: 40px;
   text-decoration: none;
}

.button i {
   display: flex;
   align-items: center;
}

.about-section-container img {
   height: 400px;
   max-width: 100%;
   width: auto;
   margin: auto;
   border-radius: 10px;
}


/* -- video section --*/

.video-section{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 150px;
}

.video-section video{
   width: 100%;
   outline: none;
   height: auto;
   border-radius: 25px;
   cursor: pointer;
}


.video-section-overlay{
   display: flex;
   align-items: flex-end;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   color: black;
   background: linear-gradient(to bottom, rgba(182, 182, 182, 0.116), rgba(27, 27, 27, 0.856));
   border-radius: 25px;
   pointer-events: none;
   padding: 60px 40px;
   transition: all 0.3s ease-in-out;
}

.video-section-overlay p{
   color: white;
   font-size: 20px;
}





/* -- contact section -- */

#contact-section{
   display: flex;
   height: auto;
   border-radius: 25px;
   padding: 40px;
   box-shadow: 0px 4px 10px #44444425;
}

.contact-information{
   display: flex;
   flex-direction: column;
   max-height: 100%;
   padding: 40px;
   background-color: #088A06;
   color: white;
   border-radius: 20px;
   gap: 30px;
}

.contact-information h3{
   font-size: 22px;
}

.contact-information p{
   display: flex;
   align-items: center;
}

.contact-information i{
   font-size: 22px;
   margin-right: 14px;
   line-height: 22px;
}

.contact-form{
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 30px 40px 0px 40px;
   margin-left: 40px;
}


.contact-form-row{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
}


.contact-form-column{
   position: relative;
   display: flex;
   flex-direction: column;
   margin-right: 46px;
   margin-bottom: 20px;
   width: 46%;
}


.contact-form input {
   width: 100%;
   height: 100%;
   color: #088A06;
   padding: 20px 0px 6px 0px;
   border: none;
   font-size: 16px;
   outline: none;
}

.contact-form label {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

.contact-form label::after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0px;
   width: 100%;
   height: 100%;
   border-bottom: 1px solid rgba(112, 128, 144, 0.671);
   transition: all 0.25s ease;
}

.content-name {
   position: absolute;
   bottom: 0px;
   left: 0px;
   padding-bottom: 5px;
   transition: all 0.25s ease;
   font-size: 14px;
   color: rgba(112, 128, 144, 0.671);
}


.contact-form input:focus + .label-name .content-name,
.contact-form input:valid + .label-name .content-name {
   transform: translateY(-105%);
   font-size: 13px;
   left: 0px;
   color: rgba(112, 128, 144, 0.671);
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after {
   transform: translateX(0%);
   border-bottom: 1px solid #088A06;
}

.contact-form textarea {
   resize: none;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   height: 150px;
   max-height: 150px;
   width: 100%;
   border: none;
   border-bottom: 1px solid #088A06;
   outline: none;
   padding-top: 5px;
}

.contact-form textarea::placeholder{
   color: rgba(112, 128, 144, 0.671);
}
.contact-form .button-green{
   margin: 0;
   margin-top: 14px;
   width: 120px;
   height: 40px;
}





/* -- 2% donation section --*/

#donation-section{
   display: flex;
   background-color: #088A06;
   height: 248px;
   border-radius: 10px;
   margin-top: 150px;
   scroll-padding: 100px;
}

.donation-section-text{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   margin: 20px 20px 20px 60px;
   color: white;
}

.donation-section-button{
   height: 40px;
   width: 120px;
   border-radius: 8px;
   background-color: white;
   color: #088A06;
   border: none;
   cursor: pointer;
   margin-left: 0px;
}

.donation-section-image{
   display: flex;
   overflow: hidden;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   min-width: 40%;
}

.donation-section-image img{
   object-fit: cover;
   object-position: center;
   width: 100%;
   scale: 1.2;
}

/* -- sponsors section -- */

.sponsors-section{
   display: flex;
   justify-content: center;
   margin-top: 200px;
   margin-bottom: 80px;
   height: auto;
}

.sponsors-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.sponsors-column{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 40px;
}

.sponsors-column img{
   height: 60px;
   width: 240px;
   object-fit: contain;
}



/* -- footer -- */


footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   color: white;
   background-color: #088A06;
   padding: 30px 10%;
}

footer h3{
   margin-bottom: 18px;
}

.footer-address{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-address img {
   height: 120px;
   width: 140px;
   object-fit: cover;
}

.footer-pages{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 248px;
   padding: 40px 0px;
}

.footer-pages a{
   cursor: pointer;
   color: white;
   text-decoration: none;
   margin-bottom: 6px;
}


.footer-webcredits{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 248px;
   padding: 40px 0px;
}

.footer-links{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 20px;
   height: 248px;
   padding: 40px 0px;
}

.footer-links a{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   font-size: 14px;
   width: 100%;
   line-height: 37px;
   text-decoration: none;
   color: inherit;
}

.footer-links i{
   font-size: 15px;
}

.footer-facebook-button{
   background-color: white;
   border: none;
   color: #4267B2;
   border-radius: 8px;
   cursor: pointer;
   width: 200px;
}

.footer-instagram-button{
   background-color: white;
   border: none;
   color: #B41B84;
   border-radius: 8px;
   cursor: pointer;
   width: 200px;
}

 .fa-instagram {
   background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


/* -- for-teachers subpage -- */

.resources-section {
   display: flex;
   border: 1px solid red;
   height: 300px;
}

.resources-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
}

.resources-container > div{
   text-align: center;
   height: 200px;
   width: 200px;
   border: 1px solid gray;
   border-radius: 12px;
}


/* -- o-nás subpage -- */

.profiles-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   margin-bottom: 150px;
}

.profiles-container{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 20px;
}

.profiles-container > div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profiles-container img{
   height: 150px;
   width: 150px;
   border-radius: 100%;
}



@media (300px <= width <= 600px){
   .nav-logo{
      width: 200px;
   }

   .header-title{
      font-size: 44px;
   }

   main {
      width: 94%;
   }
   
   .about-section {
      width: 100%;
   }
   
   .video-section-overlay {
      display: none;
   }
   
   .donation-section-text h2 {
      font-size: 20px;
   }

   #contact-section {
      box-shadow: none;
   }

   .contact-form{
      margin-inline: 20px;
   }
      
}





@media(max-width: 650px){
   .sponsors-column {
      justify-content: center;
   }
}

@media (max-width: 780px){
   nav a {
      display: none;
   }

   nav button{
      display: none;
   }

   .nav-hamburger{
      display: block;
      position: absolute;
      cursor: pointer;
      right: 3%;
      top: 50%;
      transform: translate(-3%, -50%);
      z-index: 2;
   }
   
   .nav-toggle.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
   }

   .nav-toggle > div{
      text-align: center;
      height: 60px;
   }

   .nav-toggle .nav-button{
      display: block;
   }

   


}

@media(max-width: 860px){
   nav{
      padding-inline: 10px;
   }
}

@media(max-width: 920px){
   #contact-section {
      flex-direction: column;
      padding-inline: 0px;
      padding-top: 0px;
   }

   .contact-information{
      width: 100%;
   }

   .contact-form{
      width: auto;
      margin: 0;
   }

   .contact-form-column {
      width: 100%;
      margin-right: 0px;
   }


   footer{
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .footer-address{
      display: flex;
      flex-direction: column;
   }

   footer > div{
      align-items: center;
   }

}

@media(600px <= width <= 920px){
   .contact-form {
      padding-inline: 80px;
   }
}


@media (920px <= width <= 1000px){
   .contact-form{
      padding-inline: 0px;
   }
}


@media(max-width: 1100px){

   .about-section{
      align-items: center;
   }

   .about-section-container{
      width: 80%;
      flex-wrap: wrap;
   }

   .about-section-container:nth-of-type(1){
      flex-wrap: wrap-reverse;
   }

   .about-section-title{
      font-size: 30px;
   }

   .about-section-text{
      width: 100%;
   }

   .about-section-container img{
      width: 100%;
      height: auto;
   }

}

@media (max-width: 1300px){
   #donation-section{
      flex-direction: column-reverse;
      height: 400px;
   }

   .donation-section-text{
      gap: 10px;
      margin-inline: 40px;
   }


   .donation-section-image{
      width: 100%;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 0px;
      object-position: center;
   }

   .donation-section-image img{
      object-position: 50% 70%;
      scale: 1;
   }
}



@media (min-width: 920px) and (max-width: 1300px){

   .contact-form-column{
      width: 100%;
   }

   .contact-form-row{
      flex-direction: column;
   }

}


@media (min-width: 1300px) and (max-width: 1555px){
   .contact-form-column{
      width: 70%;
   }

   
}

@media (max-width: 1555px){
   .contact-form-row {
      margin-bottom: 0px;
   }
}
