@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
}

a{
   font-family: 'Poppins', sans-serif;
}

img{
   -webkit-user-drag: none;
   user-select: none;
}

nav {
   position: absolute;
   z-index: 1;
   top: 0;
   width: 80%;
   display: flex;
   align-items: center;
   margin-top: 40px;
   left: 50%;
   transform: translate(-50%, 0%);
}

.nav-logo {
   width: 264px;
   margin-right: auto;
}

nav a {
   margin-left: 30px;
   color: white;
   font-size: 16px;
   cursor: pointer;
}

.nav-button {
   height: 40px;
   width: 120px;
   border-radius: 10px;
   background-color: #11950F;
   color: white;
   border: none;
   margin-left: 30px;
}

.nav-button a {
   display: block;
   width: 100%;
   line-height: 40px;
   margin: 0px;
}

header{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: white;
}

.header-img{
   width: 100%;
   height: 800px;
}

.header-title{
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 90px;
   font-weight: bold;
}

.header-text1{
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: normal;
}

.header-text2{
   position: absolute;
   top: 58%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: normal;
}

.header-arrow{
   position: absolute;
   z-index: 1;
   top: 85%;
}

